*{
    margin:0;
    padding:0;
}

.box {
    position: relative;
    width: 1050px;
    height: 1050px;
    left: 50%;
    margin-left: -525px;
    top: 30px;
    background-image: linear-gradient(to bottom, rgba(210, 230, 255, 1), rgba(255, 0, 0, 0));
}

.head {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 100px;
    width: 1050px;
    height: 100px;
}

.ydgl {
    position: relative;
    width: 250px;
    height: 100px;
    font-size: 35px;
    font-weight: 900;
}

.box1 {
    position: relative;
    width: 150px;
    height: 100px;
    font-size: 23px;
    font-weight: 500;
}

.pic {
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: auto;
}

.column{
    width: 1050px;
    height: 36px;
    position: relative;
    display: inline-block;
}
.columnText{
    width: 120px;
    height: 36px;
    font-size:20px;
    font-weight: 700;
    margin-left:80px;
}
.scanFrame{
    width: 200px;
    height: 36px;
    background-color:white;
    border-radius: 18px;
    position: absolute;
    right:350px;
}
.scanBackground{
    width: 36px;
    height: 36px;
    background-color: rgb(57, 129, 247);
    border-radius: 50%;
    position: absolute;
    right:300px;
    top:0px;
}
.scanImage{
    position: absolute;
    width:20px;
    height: 20px;
    display: inline-block;
    top:5px;
    left:5px;
}
.studentList{
    width: 752px;
    height: 500px;
    /* background-color: pink; */
    /* margin-top:20px; */
    margin-left: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.studentMessage{
    flex:1;
    /* background-color:pink; */
    border-top:1px solid;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
}
.portrait{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    margin-left:20px;
    margin-top: 20px;
}
.message{
   width: 112px;
   height: 60px;
   position: absolute;
   margin-left:250px;
   margin-top: 10px;
   /* background-color: salmon; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /*设置内部子盒子文字样式*/
   align-items: center;
}
.name{
    font-weight: 700;
    /* background-color: khaki; */
}
.number{
    /* background-color: wheat; */
}
.direction{
    /* background-color: yellowgreen; */
}
.button{
    width: 200px;
    height: 32px;
    position: absolute;
    margin-left: 500px;
    margin-top:25px;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}
.buttonReset{
    width: 52px;
    height: 32px;
    position: absolute;
    border-radius: 5px;
    line-height: 32px;
    text-align: center;
    font-weight: 600;
    background-color: rgb(57, 129, 247);
}
.buttonAlter{
    width: 52px;
    height: 32px;
    position: absolute;
    margin:0 75px;
    border-radius: 5px;
    line-height: 32px;
    text-align: center;
    font-weight: 600;
    background-color:rgb(57, 129, 247);
}
.buttonDelete{
    width: 52px;
    height: 32px;
    position: absolute;
    right: 0px;
    border-radius: 5px;
    line-height: 32px;
    text-align: center;
    font-weight: 600;
    background: rgba(212, 48, 48, 1);
}
.back {
    position: absolute;
    top: 380px;
    right:30px ;
}
.btn{
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: wheat;
}
.btn:hover{
    background-color: #fff;
    color: red;;
}
.box1:hover {
    color: rgba(57, 129, 247);
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    position: absolute;
    background-color: #f9f9f9;
    top: 75px;
    left: 45px;
    height: 52px;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.xj {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    color: black;
    height: 20px;
    padding: 3px 6px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    align-items: center;
    line-height: 20px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.xj:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}
#pic:hover {
    background-color: #fff;
}